@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Ubunu', sans-serif;
}
img{
    width: 100%;
}
:root{
    --blue:#509cff;
    --white:#fff;
    --black:#222;
    --grey:#f5f5f5;
    --black2:#999;
}
h2{
  text-align: center;
   margin:8px auto;
   color: var(--black);
   font-weight: 600;
   text-shadow: 0 0 2px var(--black2);
   opacity: 80%;
}
.container{
    width:100%;
    
}
.information{
    width:70%;
    box-shadow:0 0 2px var(--black2);
    border-radius:5px;
    padding-bottom: 20px;
    margin-right:2%
}
.information label{  
    font-size: 14px;
    font-weight: 500;
    opacity: 75%;
    margin-bottom: 5px;
    padding:2px;
}

.personal-information{
    width:45%;
    margin-left: 2%;
    margin-right: 3%;
    margin-top:15px;
    position: relative;
    
    
}
.name,

.number,
.district,
.upazilla,
.village{
    margin-bottom: 25px;
}
.information input{
    width:90%;
    padding-top:8px;
    padding-bottom:8px;
    border:1px solid rgb(212, 201, 201);
    border-radius: 4px;
    padding:5px;
    outline: none;
    
}
.information input:hover{
     box-shadow: inset 0 0 2px var(--blue);
     border: 1px solid var(--blue);
}

.address{
    width:45%;
    margin-left: 2%;
    margin-right: 3%;
    margin-top:15px;
    position: relative;
}
#kuriar {
    border: 1px solid var(--blue);
    padding:5px;
    border-radius: 4px;
}
#kuriar option{
    padding: 4px;
}
.order{
    width:28%;
    box-shadow:0 0 2px var(--black2);
    border-radius:5px;
    padding: 20px;
    
}

.order h6{
    float: right;
}
.order p{
    margin: auto;
    float: right;
    margin-right: 20px;
}
.order a{
    float:left
}
.order  a p{
    width:100px;
    text-align: center;
    color: var(--blue);
    border:1px solid var(--blue);
    padding:10px;
    border-radius: 3px;
   font-weight: 600;
}
.order  a:hover p{
    box-shadow:0 0 3px var(--blue);
    background-color:var(--blue);
    color: white;
}

.flex{
    padding:5px;
    margin-bottom: 5px;
}

.order h4{
    font-weight: 600;
    font-weight: 600;
    color: var(--black);
    opacity: 90%;
}
.order h3{
    padding:5px;
    margin-bottom:1px;
    font-weight: 600;
    color: var(--black);
    opacity: 80%;
}

@media screen and (max-width: 780px) {
    .container{
        display:block
    }
    .information{
        width:100%;
       
    }

    .order{
        width:100%;
        margin-top:20px;
        margin-right:2%;
        padding: 5px;
        padding-bottom: 60px;
        
    }

}
@media screen and (max-width: 500px) {
    .container{
        display:block
    }
    .information{
        width:100%;
       
    }

    .order{
        width:100%;
        margin-top:20px;
        margin-right:2%;
        padding: 5px;
        padding-bottom: 60px;
        
        
    }
    .information{
        display: block;
        padding-top: 5px;
    }
    
    .personal-information,
    .address{
        width:90%;
    }

}

