@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Ubunu', sans-serif;
}
img{
    width: 100%;
}
:root{
    --blue:#287bff;
    --white:#fff;
    --black:#222;
    --grey:#f5f5f5;
    --black2:#999;
}
body{
   min-height:100vh;
   overflow-x:hidden 
}
.container{
    position: relative;
    width:100%;
}
.navigation{
    position:fixed;
    width:250px;
    height:100%;
    background-color: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow:hidden;
}
.navigation.active{
    width:60px
}
.navigation ul{
    position:absolute;
    top:0;
    left:0;
    width:100%
}

.navigation ul li{
    position: relative;
    width:100%;
    padding-left:7px;
    list-style: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;


}

.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
}
.navigation ul li:first-child{
    margin-bottom:30px;
    pointer-events:none;
}
.navigation ul li a{
    position:relative;
    width:100%;
    display: flex;
    text-decoration: none;
    color: var(--white)
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color:var(--blue)
}
.navigation ul li a .icon{
    position:relative;
    display:block;
    min-width:50px;
    height:50px;
    line-height:60px;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.50em;
}
.navigation ul li a .title{
    position:relative;
    display:block;
    padding:0 5px;
    height:50px;
    line-height:50px;
    text-align:start;
    white-space: nowrap;
}
/*curve outside
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content:'';
    position:absolute;
    right:0;
    top:-50px;
    width:50px;
    height:50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content:'';
    position:absolute;
    right:0;
    bottom:-50px;
    width:50px;
    height:50px;
    background: transparent;
    border-radius: 50%;
    box-shadow:45px -40px 0 10px var(--white);
    pointer-events: none;
} 

*/
/*main*/
.main{
    position:absolute;
    width:calc(100% - 250px);
    left: 250px;
    min-height:100vh;
    background-color: var(--white);
    transition: 0.5s;
}
.main.active{
    width:calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 7px;
}
.main .toggle{
    width:25px;
    margin-right:25px;
    display: inline-block;
    cursor: pointer;
}
.main .toggle .bar1, .bar2, .bar3 {
        width: 25px;
        height: 4px;
        background-color: #333;
        margin: 5px 0;
        transition: 0.4s;
        opacity: 75%;
        border-radius: 5px;
}
.main .search{
    position:relative;
    width:400px;
    margin:0 10px;

}
.main .search label{
    position: relative;
    width:100%
}
.main .search label input{
    width:100%;
    height:40px;
    border-radius:40px;
    padding:5px 20px;
    outline:none;
    border:1px solid var(--black2);
    padding-left: 35px;
}
.main .search label ion-icon{
    position: absolute;
    top:0;
    left:10px;
    font-size: 1.2em;

}
.topbar .user{
  position:relative;
  width:50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.topbar .user img{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit: cover;
}


.cardbox {
    position:relative;
    width:100%;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:30px;
}
.cardbox .card{
    position: relative;
    background-color: var(--white);
    padding:30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
}
.cardbox .card .number{
   position:relative;
   font-weight: 500;
   font-size: 2.0em;
   color:var(--blue) 
}
.cardbox .card .cardname{
    color:var(--black2);
    font-size: 1.0em;
    margin-top:5px;
}

.cardbox .card .icon{
    font-size: 2.0em;
    color:var(--black2)
}
.cardbox .card:hover{
    background-color: var(--blue);
}

.cardbox .card:hover .number,
.cardbox .card:hover .cardname,
.cardbox .card:hover .icon{
    color:var(--white);
}

.details{
    position:relative;
    width:100%;
    padding:20px;
    display: flex;
    grid-template-columns:repeat(2,1fr);
    grid-gap:30px;
    margin-top:0px;
}
.details .recentorder{
    position:relative;
    display: grid;
    min-height: 500px;
    background:var(--white);
    padding:20px;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    width: 80%;

}
.details .recentorder .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.details h2{
    font-weight: 600;
    color:var(--blue);
}
.details .recentorder .btn{
    position:relative;
    padding:5px 10px;
    background:var(--blue);
    text-decoration: none;
    color:var(--white);
    border-radius: 5px;
}
.details .recentorder table{
    width:100%;
    border-collapse: collapse;
    margin-top:-180px;

}
.details .recentorder table thead td{
    font-weight: 600;
    
}
.details .recentorder table tr{
    color:var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentorder table tbody tr:last-child{
    border-bottom: none;
}
.details .recentorder table tbody tr:hover{
    background: var(--blue);
    color:var(--white)
}
.details .recentorder table td:last-child{
    text-align: end;
}
.details .recentorder table td:nth-child(2),
.details .recentorder table td:nth-child(3){
    text-align: center;
}
.details .recentorder table tr{
    padding:8px;
}

.delivered{
    padding:2px 4px;
    background-color: #8de02c;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.pending{
    padding:2px 4px;
    background-color: #f9ca3f;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.processing{
    padding:2px 4px;
    background-color: #1795ce;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.return{
    padding:2px 4px;
    background-color: #f00;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}


.recentcustomer{
    position:relative;
    display:grid;
    min-height:500px;
    padding:20px;
    background-color: var(--white);
    box-shadow:0 7px 25px rgba(0,0,0,0.1);
    border-radius:20px;
    width:20%;

}
.customerdetails{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    margin:5px
}
.recentcustomer .img{
    position: relative;
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
    margin-right:4px
}

.recentcustomer .img img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;

}
.recentcustomer .customerdetails:hover{
    box-shadow:0 0 5px rgb(144, 144, 250);
    background-color: var(--white);
    transition: 0.5s;
    

}
@media screen and (max-width: 990px) {
   .recentorder{
       width:60%;
   }
   .recentcustomer{
       width:40%;
   }
}
@media screen and (max-width: 720px) {
    .main .search{
        position:relative;
        width:300px;
        margin:0 10px;
    
    }
    .navigation{
        position:fixed;
        width:60px;
        height:100%;
        background-color: var(--blue);
        border-left: 10px solid var(--blue);
        transition: 0.5s;
        overflow:hidden;
    }
    .navigation.active{
        width:200px
    }
    .main{
        position:absolute;
        width:calc(100% - 50px);
        left: 60px;
        min-height:100vh;
        background-color: var(--white);
        transition: 0.5s;
    }
    .main.active{
        width:calc(100% - 200px);
        left: 200px;
    }
}
@media screen and (max-width: 560px) {
    .main .search{
        position:relative;
        width:200px;
        margin:0 10px;
    
    }
    .details{
        position:relative;
        width:100%;
        padding:20px;
        display: block;
        grid-template-columns:repeat(2,1fr);
        grid-gap:30px;
        margin-top:0px;
    }
    .details .recentorder{
        position:relative;
        display: grid;
        min-height: 500px;
        background:var(--white);
        padding:20px;
        box-shadow:0 7px 25px rgba(0,0,0,0.08);
        border-radius:20px;
        width: 100%;
        margin-bottom: 20px;
    
    }
   .recentcustomer{
      width: 100%;
   }
}